<li id="mini_profiler_result_${id}" class="{{if ajax_result}}mini-profiler-ajax-result{{else}}mini-profiler-page-result{{/if}}">
	${response_time} ms
	<div id="mini_profiler_result_details_${id}" class="mini-profiler-result-details">
		${url}
	</div>
</li>